<!DOCTYPE html>
<html lang="es">
    {% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    
    <title>{{ saludo }}</title>
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.0/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-KyZXEAg3QhqLMpG8r+8fhAXLRk2vvoC2f3B09zVXn8CA5QIVfZOJ3BCsw2P0p/We" crossorigin="anonymous">
    
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/toastr.js/latest/toastr.min.css">

    {% load static %}
    <script src="{% static 'fontawesome_free/js/all.min.js' %}"></script>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

    
</head>

<body>
    {% block content %}
    
    <h2 class="fw-bold text-center my-5">{{ saludo }}</h2>
    
    <div class="container my-3">

    <!-- TODO Mensajes flash para manejo de errores -->
    {% if messages %}
    <ul class="messages">    
        {% for message in messages %}    
            <li {% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>    
        {% endfor %}
    </ul>
    {% endif %}

        <div class="d-grid gap-2 md-flex justify-content-md-end">
            <a href="/shows" class="btn btn-primary me-md-2" role="button" data-bs-toggle="button">Volver</a>
        </div>

        <div class="row">
            <div class="col-sm-12 col-lg-9 mx-auto">
                <h2 class="fw-bold my-5">Edita SHOW {{show.id}} </h2>
                <form action='/shows/{{show.id}}/update' method="post">
                    {% csrf_token %}
                    
                    <div class="form-group mb-3 col-md-8">
                        <label for="titulo_show_id" class="form-label">Titulo</label>
                        <input type="text" value='{{show.title}}' class="form-control" id="titulo_show_id"
                        name="title_show" required>
                    </div>
                    
                    <div class="row mb-3">
                        <div class=" col-md-4">
                            <label for="network" class="form-label">Network</label>
                            <input type="text" value='{{show.network}}' class="form-control" id="network"
                            name="network_show" required>
                        </div>
                        
                        <div class="col-md-4">
                            <!-- TODO FORMATEO DE FECHA PARA MOSTRAR VALOR EN FORMULARIO debe estar en forma Y-m-d-->
                            <label for="date" class="form-label">Release Date</label>
                            <todo</todo>
                            <input type="date" value='{{ show.release_date|date:"Y-m-d" }}' class="form-control"}}' class="form-control" id="date"
                            name="date_show" required>
                        </div>
                    </div>
                
                

                    <div class="form-group mb-3 col-md-8">
                        <label for="desc_show" class="form-label">Descripcion</label>
                        <textarea class="form-control" id="desc_show" rows="3" name="desc_show">{{show.description}}</textarea>
                    </div>

                    <button type="submit" class="btn btn-primary">Actualiza Info</button>
                </form>
                
                <div class="d-grid gap-2 col-md-3 mt-2 mx-auto">
                    <a href="/shows/{{show.id}}" class="btn btn-primary me-md-2" role="button" data-bs-toggle="button">Volver a show</a>
                </div>
            </div>
        </div>
    </div>
    {% endblock %}

