{% extends 'base.html' %}


<!-- TODO REVISAR SETTINGS PARA USAR FONTAWESOME -->

<body class="bg-light">
    {% block content %}
    <h2 class= "fw-bold text-center my-5">{{ saludo }}</h2>
    
    <div class="container my-3">
        
        <div class="row">
            <div class="col-sm-12 col-lg-9 mx-auto border border-primary">
                <h2 class="fw-bold text-center my-2">Todos los Shows:</h2>
                <table class="table table-striped table-bordered">
                    <tr>
                        <th>ID</th>
                        <th>Titulo</th>
                        <th>Network</th>
                        <th>Release Date</th>
                        <th>Acciones</th>
                    </tr>
                    
                    {% for show in tvshows%}
                    <tr>
                        <td>{{show.id}}</td>
                        <td>{{show.title}}</td>
                        <td>{{show.network}}</td>
                        <!-- TODO FORMATO DE FECHA -->
                        <td>{{show.release_date|date:"M d, Y"}}</td> 
                        <td><a href='/shows/{{show.id}}'> <i class="fas fa-info-circle fa-lg text-primary" style="--fa-primary-color: gold;"> </i> Ver </a> | 
                            <span><a href='/shows/{{show.id}}/edit'> <i class="far fa-edit fa-lg text-warning"> </i> Editar </a></span> | 
                            <span><a href='/shows/{{show.id}}/borrar'> <i class="far fa-trash-alt fa-lg text-danger"> </i> Borrar</a></span> </td>
                        </tr>
                        {% endfor %}
                    </table>
                </div>
        </div>
    </div>
    
    <div class="d-grid gap-2 col-3 mx-auto">
        <a href="shows/new/" class="btn btn-primary" role="button" data-bs-toggle="button">Añade nuevo show</a>
        
    </div>
    
    {% endblock %}
    <!-- DESDE ACA SOLO SCRIPT -->
    
    
    <!-- <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4"
        crossorigin="anonymous">
    </script> -->
    
    <!-- <script src="https://code.jquery.com/jquery-3.6.0.min.js"
        integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script> -->
        
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
        
    <script src="{% static 'js/index.js' %}"></script>
    <!-- <script>
        // Podrias poner este codigo en otro archivo javascript.. Recuerda usar $(document).ready() si la etiqueta del script se incluye antes de los nodos DOM que le interesn...
        $('form').submit(function(e){
          // preventDefault detiene la activación de la accion predeterminada del evento (e)
          e.preventDefault();
          console.log("Form submitted but no HTTP request sent to server!");
        });
      </script> -->
    
</body>
</html>



            





